@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

body {
	max-width: 95vw;
}

* {
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
}

a, a:link, a:visited, a:hover, a:active {
	color: #7b7b7b;
	text-decoration: none;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"title title"
		"nav-bar nav-bar"
		"contact-me pic"
		"footer pic";
}

.title {
	font-size: 1.6em;
	grid-area: title;
	margin: 2.4em 1em 0.5em;
	color: #f46bb1;
}

.nav-bar {
	grid-area: nav-bar;
	margin: 0em 1.6em; /* 1.6em to align with that title that has a 1.6em font size */
	overflow: initial;
}

.contact-me { 
	grid-area: contact-me;
	margin: 0em 1.6em; /* 1.6em to align with that title that has a 1.6em font size */
	margin-bottom: 2em;

	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: auto;
	grid-template-areas: "about-me contacts";
}

.about-me { grid-area: about-me; }
.contacts {
	grid-area: contacts;
	margin-top: 1em;
}
.contact {
	font-size: 1.8em;
	padding-top: 0.2em;
}

img {
	grid-area: pic;
	max-width: 4.5cm;
    max-height: 100%;
}

.footer {
	grid-area: footer;
	margin-left: 1em;
}

/* Overwrite all changes that you dont want! */
@media screen and (max-width: 58em) {
	/* Resize to 1 column */
	.contact-me {
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
			"about-me"
			"contacts";
	}
}

/* Overwrite all changes that you dont want! */
@media screen and (max-width: 35em) {
	/* Resize to 1 column */
	.grid-container {
		grid-template-columns: auto;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
		"title"
		"nav-bar"
		"contact-me"
		"pic"
		"footer";
	}
	img {
		max-width: 90%;
		max-height: 100%;
		margin: 0em 2em;
	}
}