@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700'); */

* {
	font-family: 'Catamaran', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns:
	1fr 4fr 1fr;
	grid-template-rows:
	0.4fr 0.2fr 0.4fr 0.4fr auto 2fr 1fr;
	gap: 0px;
	grid-template-areas:
		"title title title"
		"picture nav-bar contact-me"
		"picture work-experiences contact-me"
		"picture acadaemics contact-me"
		"picture skill-set contact-me"
		". projects ."
		". footer .";
}

img {
	grid-area: picture;
	max-width: 95%;
    max-height: 100%;
}

.contact-me {
	grid-area: contact-me;
}

.title {
	grid-area: title;
	margin: auto;
	margin-bottom: 0.5em;
	/* background:
	linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
	linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
	linear-gradient(to right, #d89ca4, #e27b7e); */
	/* font-family: 'Montserrat', Helvetica, sans-serif; */
	color: #f46bb1;
}

.nav-bar {
	grid-area: nav-bar;
	margin: auto;
	margin-top: 0px;
}

.work-experiences {
	grid-area: work-experiences;
	margin-left: 2em;
}

.acadaemics {
	grid-area: acadaemics;
	margin-left: 2em;
}

.skill-set {
	grid-area: skill-set;
	margin-left: 2em;
}

.projects {
	grid-area: projects;
	margin-left: 2em;
}

.footer {
	grid-area: footer;
	margin-left: 3em;
}

button, a, a:link, a:visited, a:hover, a:active {
	color: #7b7b7b;
	text-decoration: none;
}

button {
	background-color: white;
	margin: 0px;
	border: none;
}

.projects > a {
	color: #bbb; /* Change the color to a darker shade */
}

/* 
background:
	linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
	linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
	linear-gradient(to right, #d89ca4, #e27b7e);
	background-color: #de7e85; */